# Created by .ignore support plugin (hsz.mobi)
secrets.py
vk_config.v2.json
.gitignore
.idea/vcs.xml
__pycache__/
venv/Include/
venv/Lib/site-packages/_distutils_hack/__pycache__/
venv/Lib/site-packages/certifi/__pycache__/
venv/Lib/site-packages/charset_normalizer/__pycache__/
venv/Lib/site-packages/charset_normalizer/cli/__pycache__/
venv/Lib/site-packages/idna/__pycache__/
venv/Lib/site-packages/jconfig/__pycache__/
venv/Lib/site-packages/pip/__pycache__/
venv/Lib/site-packages/pip/_internal/__pycache__/
venv/Lib/site-packages/pip/_internal/cli/__pycache__/
venv/Lib/site-packages/pip/_internal/commands/__pycache__/
venv/Lib/site-packages/pip/_internal/distributions/__pycache__/
venv/Lib/site-packages/pip/_internal/index/__pycache__/
venv/Lib/site-packages/pip/_internal/locations/__pycache__/
venv/Lib/site-packages/pip/_internal/metadata/__pycache__/
venv/Lib/site-packages/pip/_internal/metadata/importlib/__pycache__/
venv/Lib/site-packages/pip/_internal/models/__pycache__/
venv/Lib/site-packages/pip/_internal/network/__pycache__/
venv/Lib/site-packages/pip/_internal/operations/__pycache__/
venv/Lib/site-packages/pip/_internal/operations/build/__pycache__/
venv/Lib/site-packages/pip/_internal/operations/install/__pycache__/
venv/Lib/site-packages/pip/_internal/req/__pycache__/
venv/Lib/site-packages/pip/_internal/resolution/__pycache__/
venv/Lib/site-packages/pip/_internal/resolution/legacy/__pycache__/
venv/Lib/site-packages/pip/_internal/resolution/resolvelib/__pycache__/
venv/Lib/site-packages/pip/_internal/utils/__pycache__/
venv/Lib/site-packages/pip/_internal/vcs/__pycache__/
venv/Lib/site-packages/pip/_vendor/__pycache__/
venv/Lib/site-packages/pip/_vendor/cachecontrol/__pycache__/
venv/Lib/site-packages/pip/_vendor/cachecontrol/caches/__pycache__/
venv/Lib/site-packages/pip/_vendor/certifi/__pycache__/
venv/Lib/site-packages/pip/_vendor/chardet/__pycache__/
venv/Lib/site-packages/pip/_vendor/chardet/cli/__pycache__/
venv/Lib/site-packages/pip/_vendor/chardet/metadata/__pycache__/
venv/Lib/site-packages/pip/_vendor/colorama/__pycache__/
venv/Lib/site-packages/pip/_vendor/colorama/tests/__pycache__/
venv/Lib/site-packages/pip/_vendor/distlib/__pycache__/
venv/Lib/site-packages/pip/_vendor/distro/__pycache__/
venv/Lib/site-packages/pip/_vendor/idna/__pycache__/
venv/Lib/site-packages/pip/_vendor/msgpack/__pycache__/
venv/Lib/site-packages/pip/_vendor/packaging/__pycache__/
venv/Lib/site-packages/pip/_vendor/pkg_resources/__pycache__/
venv/Lib/site-packages/pip/_vendor/platformdirs/__pycache__/
venv/Lib/site-packages/pip/_vendor/pygments/__pycache__/
venv/Lib/site-packages/pip/_vendor/pygments/filters/__pycache__/
venv/Lib/site-packages/pip/_vendor/pygments/formatters/__pycache__/
venv/Lib/site-packages/pip/_vendor/pygments/lexers/__pycache__/
venv/Lib/site-packages/pip/_vendor/pygments/styles/__pycache__/
venv/Lib/site-packages/pip/_vendor/pyparsing/__pycache__/
venv/Lib/site-packages/pip/_vendor/pyparsing/diagram/__pycache__/
venv/Lib/site-packages/pip/_vendor/pyproject_hooks/__pycache__/
venv/Lib/site-packages/pip/_vendor/pyproject_hooks/_in_process/__pycache__/
venv/Lib/site-packages/pip/_vendor/requests/__pycache__/
venv/Lib/site-packages/pip/_vendor/resolvelib/__pycache__/
venv/Lib/site-packages/pip/_vendor/resolvelib/compat/__pycache__/
venv/Lib/site-packages/pip/_vendor/rich/__pycache__/
venv/
Lib/site-packages/pip/_vendor/tenacity/__pycache__/
venv/Lib/site-packages/pip/_vendor/tomli/__pycache__/
venv/Lib/site-packages/pip/_vendor/urllib3/__pycache__/
venv/Lib/site-packages/pip/_vendor/urllib3/contrib/__pycache__/
venv/Lib/site-packages/pip/_vendor/urllib3/contrib/_securetransport/__pycache__/
venv/Lib/site-packages/pip/_vendor/urllib3/packages/__pycache__/
venv/Lib/site-packages/pip/_vendor/urllib3/packages/backports/__pycache__/
venv/Lib/site-packages/pip/_vendor/urllib3/util/__pycache__/
venv/Lib/site-packages/pip/_vendor/webencodings/__pycache__/
venv/Lib/site-packages/pkg_resources/__pycache__/
venv/Lib/site-packages/pkg_resources/_vendor/__pycache__/
venv/Lib/site-packages/pkg_resources/_vendor/importlib_resources/__pycache__/
venv/Lib/site-packages/pkg_resources/_vendor/jaraco/__pycache__/
venv/Lib/site-packages/pkg_resources/_vendor/jaraco/text/__pycache__/
venv/Lib/site-packages/pkg_resources/_vendor/more_itertools/__pycache__/
venv/Lib/site-packages/pkg_resources/_vendor/packaging/__pycache__/
venv/Lib/site-packages/pkg_resources/_vendor/platformdirs/__pycache__/
venv/Lib/site-packages/pkg_resources/extern/__pycache__/
venv/Lib/site-packages/psycopg2/__pycache__/
venv/Lib/site-packages/requests/__pycache__/
venv/Lib/site-packages/setuptools/__pycache__/
venv/Lib/site-packages/setuptools/_distutils/__pycache__/
venv/Lib/site-packages/setuptools/_distutils/command/__pycache__/
venv/Lib/site-packages/setuptools/_vendor/__pycache__/
venv/Lib/site-packages/setuptools/_vendor/importlib_metadata/__pycache__/
venv/Lib/site-packages/setuptools/_vendor/importlib_resources/__pycache__/
venv/Lib/site-packages/setuptools/_vendor/jaraco/__pycache__/
venv/Lib/site-packages/setuptools/_vendor/jaraco/text/__pycache__/
venv/Lib/site-packages/setuptools/_vendor/more_itertools/__pycache__/
venv/Lib/site-packages/setuptools/_vendor/packaging/__pycache__/
venv/Lib/site-packages/setuptools/_vendor/tomli/__pycache__/
venv/Lib/site-packages/setuptools/command/__pycache__/
venv/Lib/site-packages/setuptools/config/__pycache__/
venv/Lib/site-packages/setuptools/config/_validate_pyproject/__pycache__/
venv/Lib/site-packages/setuptools/extern/__pycache__/
venv/Lib/site-packages/urllib3/__pycache__/
venv/Lib/site-packages/urllib3/contrib/__pycache__/
venv/Lib/site-packages/urllib3/contrib/_securetransport/__pycache__/
venv/Lib/site-packages/urllib3/util/__pycache__/
venv/Lib/site-packages/vk_api/__pycache__/
